
/* .lettrs{
    display: flex;
  justify-content: space-between; 
  align-items: center; 
  border-radius: solid red;
}
.button{
    background-color: yellow;
    border-radius: 10%;
    border-radius: solid red; */
/* } */
.second{
    background-image: url(firstpic.jpg);
}